<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="13fc0S8EmvmI6Ru7Cir9hTUw1hrhiHJFgh_O1yCgXt4" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/bundle.min.css') }}" />
    <meta name="Description" content="{% block description %}{% endblock %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/favicon/manifest.json') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">
    <link rel="preconnect" href="https://api.segment.io">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img alt="Logo" src="/static/img/logo.png" />
            Pharma Data Associates
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link align-middle" href="/about_us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/capabilities">Capabilities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/experience">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/case_studies">Case Studies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/technology">Technology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/references">Useful Links</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/careers">Careers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="main">
        {% block content %}{% endblock %}
      </div>
      <footer id="footer">
        {% block footer %}
        FOOTER
        {% endblock %}
      </footer>
    </div>
    <script src="{{ url_for('static', filename='gen/bundle.min.js') }}"></script>
  </body>
</html>
