{% extends 'base.htm' %}
{% block title %}About Us | Pharma Data Associates, LLC{% endblock %}
{% block content %}

<p><strong>About Us</strong></p>

<p>We are a team of statisticians, SAS programmers, and clinical data managers who previously worked in the large and small biopharmaceutical companies or government agencies (including the FDA and NIH Clinical Center).</p>

<p>Individually or as a team, we provided a full range support to the clinical development. We supported protocol development, designed Case Report Forms (CRFs), wrote&nbsp;Statistical Analysis Plans (SAPs) and Data Management Plans (DMPs), cleaned and locked clinical trial databases, programmed in SAS for tables/listings/figures (TLFs), conducted ad hoc analyses, reviewed or coauthored Clinical Study Reports (CSRs). We successfully prepared the statistics data packages in the FDA eSubmission-compliant format for New Drug Applications (NDAs), supported the preparation of the FDA briefing books, and prepared Q/As for the FDA Advisory Committee (FDAAC) meetings.</p>

<p>Prior to forming Pharma Data Associates (PDA), we worked in biopharmaceutical companies at the management level and we struggled with insufficient headcount and poor data quality from outside contractors. As a result of our experiences, we grew to appreciate the value of having an extension of ourselves that (1) would complement or supplement our internal resources, (2) would not have to be justified as a permanent full-time headcount, and (3) would work with us as a contributing member of our team. PDA's goal is to turn our perceived value of having "extended biometrics staff" into real value for our clients.</p>

<p>Curriculum Vitae of Our Key Personnel</p>

<ul>
	<li><a href="/sites/default/files/files/CV-ChaoW%2020150312.pdf">President</a></li>
	<li><a href="/sites/default/files/files/CV%20ShivaB%2020150312.pdf">Manager, Statistical Programming</a></li>
	<li><a href="/sites/default/files/files/CV-KiranK.pdf">Principal Statistical Programmer</a></li>
	<li><a href="/sites/default/files/files/KandanceCooper_Resume_2015.pdf">Principal Clinical Data Manager</a></li>
</ul>

<p><a href="/sites/default/files/files/PDA%20Brochure%20v5.pdf">PDA Brochure</a><br />


{% endblock %}

{% block footer %}{% endblock %}
