{% extends 'base.htm' %}
{% block title %}Our Capabilities and Recent Accomplishments | Pharma Data Associates, LLC{% endblock %}
{% block content %}

<h1>Our Capabilities and Recent Accomplishments</h1>

<p><strong>Biostatistics Support for Clinical Studies</strong></p>

<ul>
	<li>Provide input on the power/sample size for various study designs</li>
	<li>Generate randomization schedule</li>
	<li>Review CRF design to ensure data collection meets the protocol objective</li>
	<li>Assist protocol design and write the statistical section</li>
	<li>Support interim analysis and data safety monitoring board</li>
	<li>Develop SAP including mock tables for individual studies or ISS/ISE (Integrated Summary of Safety/Integrated Summary of Efficacy)</li>
	<li>Assist data review, and protocol deviation/violation and per protocol eligibility determination</li>
	<li>Create patient profile listings or plots for data review and case presentation</li>
	<li>Program in SAS for TLFs</li>
	<li>Review CSR to ensure data analysis/presentation meets the study objective and the relevant FDA guidance</li>
	<li>Review ISS/ISE and NDA SCS/SCE (Summary of Clinical Safety/Summary of Clinical Efficacy, CTD 2.7.2, 2.73, and 2.7.4) to ensure data analysis/ presentation matches with the intended drug label and the regulatory requirements</li>
	<li>Represent the sponsor in the FDA meeting</li>
	<li>Ad hoc analysis or data mining</li>
</ul>

<p><strong>Standardization and Compliance to the FDA eSubmission Requirement</strong></p>

<ul>
	<li>Create CDISC SDTM (Clinical Data Interchange Standards Consortium Study Data Tabulation Model) datasets from raw datasets</li>
	<li>Annotate the CRF for SDTM datasets</li>
	<li>Create Define.xml for SDTM datasets</li>
	<li>Create analysis datasets or CDISC ADaM datasets (Analysis Data Model) and the associated Define.xml</li>
	<li>Program in SAS for TLGs using the FDA recommended linear process (from raw data to SDTM to analysis data (or ADaM) to TLGs)</li>
</ul>

<p><strong>Preparation of the Statistics Package in the FDA eSubmission-ready format</strong></p>

<ul>
	<li>Check datasets for compliance to the FDA eSubmission requirements (including SDTM format)</li>
	<li>Create datasets in SAS v5 Xport format for all studies</li>
	<li>Create the folder structure per eSubmission requirement</li>
	<li>Copy SAS datasets, aCRFs, Define.xml, and programs into the respective folders</li>
	<li>Create hyperlinks in the Define.xml for SAS datasets, aCRFs, and programs</li>
</ul>

<p><strong>Data Management Support</strong></p>

<ul>
	<li>Design eCRF (EDC) compliant to CDASH</li>
	<li>Create edit check specifications to be implemented by the EDC vendor</li>
	<li>Conduct UAT (user acceptance test)</li>
	<li>Write CRF Completion Instruction</li>
	<li>Develop Data Management Plan</li>
	<li>Perform data review and write/resolve queries</li>
	<li>Provide metric report</li>
	<li>Provide data listing review</li>
	<li>Reconcile EDC data with external data (eg, lab or EKG)</li>
	<li>Assist the SAE reconciliation</li>
	<li>Lock the database</li>
</ul>

<p><strong>PDA's Recent Accomplishments</strong></p>

<p>3 NDA successfully filed</p>

<ul>
	<li>SAPs for ISS/ISE covering 3 Phase 3 and over 9 Phase 1/2 studies (legacy)</li>
	<li>SDTM and ADaM compliant</li>
	<li>All ISS/ISE TLFs, plus FDA’s BIMO data set and listings</li>
	<li>Section 2.7.3 and 2.7.4 review</li>
</ul>

<p>3 Phase 3 studies and 5 Phase 2 studies</p>

<ul>
	<li>SAP/TLF shells, statistical analysis and TLFs generation</li>
	<li>SDTM and ADaM compliant (phase 3)</li>
	<li>CSR review</li>
</ul>

<p>Protocol development</p>

<ul>
	<li>1 Phase 3 study and 8 Phase 2 studies</li>
</ul>

<p>Passed the client’s pre-Phase 3 and Post NDA biostatistics audits</p>

<ul>
	<li>Provided all necessary SOPs and Biostatistics document to the client</li>
	<li>No questions on biostatistics from the FDA's client audit</li>
</ul>

{% endblock %}

{% block footer %}{% endblock %}
