{% extends 'includes/base.htm' %}
{% block title %}Careers (Work From Home) | Pharma Data Associates, LLC{% endblock %}
{% block description %}Careers{% endblock %}
{% block content %}

<h1>Careers (Work from Home)</h1>

<h2>Senior/Principal Statistical Programmer(s)</h2>

<ul>
	<li>Good experience of SDTM, ADaM, and TLF generation and validation</li>
	<li>Excellent SAS programming skill (Base, Statistics, Graph)</li>
	<li>7+ years of pharmaceutical industry experience</li>
	<li>MS in computer science or biostatistics</li>
	<li>Work from (NJ or MD) Home</li>
</ul>

<h2>Principal Statistician - Director, Biostatistics</h2>

<ul>
	<li>Good oral and verbal communication skill</li>
	<li>Solid experience in developing SAP/TLF shells</li>
	<li>Good experience in designing/creating ISS/ISE</li>
	<li>Good knowledge of CDISC and regulatory submission</li>
	<li>Must be good at and willing to do statistical programming</li>
	<li>7+ years of industry experience</li>
	<li>MS or PhD in biostatistics or related area</li>
	<li>Work from (NJ or MD) Home</li>
</ul>

<p>Interested individuals should submit their resumes and a cover letter for a position to {% include "includes/contact_email.htm" %}.</p>


{% endblock %}

{% block footer %}{% endblock %}
