{% extends 'includes/base.htm' %}
{% block title %}Case Studies | Pharma Data Associates, LLC{% endblock %}
{% block content %}

<h1>Case Studies</h1>

<p><strong>Cost Savings as a Result of Sample Size Reduction</strong></p>

<ul>
	<li>Early termination of a phase 2b and extension trials using Bayesian posterior predictive probability - a 50% cost saving</li>
	<li>Sample size re-estimation using Bayesian posterior predictive probability - a 30% reduction in trial length</li>
</ul>

<p><strong>Rescue Mission for an NDA Submission</strong></p>

<ul>
	<li>NDA re-prepared with amended phase 3 CSRs, new ISS, new statistics data package compliant to the FDA eSubmission requirement - all completed in 2½ months</li>
</ul>

<p><strong>Consideration in Study Design</strong></p>

<ul>
	<li>Mid-course modification of a group sequential trial from the O'Brien-Flembing "spending function" to an ad hoc Lan-DeMets spending function</li>
	<li>Non-inferiority study design for a cardiovascular drug with MACE endpoint - a sample size challenge</li>
</ul>

{% endblock %}

{% block footer %}{% endblock %}
