{% extends 'includes/base.htm' %}
{% block title %}Our Experiences | Pharma Data Associates, LLC{% endblock %}
{% block content %}

<h1>Our Experiences</h1>
<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<p><strong>System</strong></p>
			</td>
			<td>
			<p><strong>Disease</strong></p>
			</td>
			<td>
			<p><strong>Drug/Biologic</strong></p>
			</td>
			<td style="width:22px">
			<p><strong>P1</strong></p>
			</td>
			<td style="width:21px">
			<p><strong>P2</strong></p>
			</td>
			<td>
			<p><strong>P3</strong></p>
			</td>
			<td>
			<p><strong>NDA</strong></p>
			</td>
			<td>
			<p><strong>P4</strong></p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Infection/ Inflammation</p>
			</td>
			<td>
			<p>Psoriasis</p>

			<p>&nbsp;</p>
			</td>
			<td>
			<p>Tezorac®</p>

			<p>Amevive®</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p>&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>

			<p class="rtecenter">&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>

			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Allergic Asthma</p>
			</td>
			<td>
			<p>Xolair®</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Ankylosing Spondylitis</p>
			</td>
			<td>
			<p>Enbrel®</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Rheumatoid Arthritis</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>HPV</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p>&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Oncology</p>
			</td>
			<td>
			<p>Breast cancer</p>
			</td>
			<td>
			<p>Herceptin®</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p>&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Lung/Ovarian/ Pancreatic/Prostate/ Colon/Glioblastoma</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p class="rtecenter">X</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>NHL/MDS</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p class="rtecenter">X</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Mucositis, Anemia</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>CVS</p>
			</td>
			<td>
			<p>PCI/ACS</p>
			</td>
			<td>
			<p>ReoPro®</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>MI/IS</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p>&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Gastroenterology</p>
			</td>
			<td>
			<p>Celiac disease</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>OINV/OIC</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p class="rtecenter">X</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>CINV</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p>&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Endocrinology</p>
			</td>
			<td>
			<p>Anemia</p>
			</td>
			<td>
			<p>EPOGEN®</p>

			<p>ARANESP®</p>

			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>

			<p class="rtecenter">X</p>

			<p class="rtecenter">&nbsp;</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">&nbsp;</p>

			<p class="rtecenter">X</p>

			<p class="rtecenter">&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>

			<p class="rtecenter">X</p>

			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>

			<p class="rtecenter">X</p>

			<p class="rtecenter">&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>

			<p class="rtecenter">&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Obesity/T2DM/Diabetic Neuropathy/Renal Vasculitis</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p class="rtecenter">X</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>Hematology</p>
			</td>
			<td>
			<p>ITP</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p class="rtecenter">X</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>CNS</p>
			</td>
			<td>
			<p>ADHD</p>
			</td>
			<td>
			<p>Kapvay®</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<p>Impulvise Aggression</p>
			</td>
			<td>Confidential</td>
			<td style="width:22px">&nbsp;</td>
			<td style="width:21px">&nbsp;</td>
			<td>&nbsp;X</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Sedation</p>
			</td>
			<td>
			<p>Lusedra®</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p>X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Pain</p>
			</td>
			<td>
			<p>EMBEDA®</p>

			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p class="rtecenter">&nbsp;</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">&nbsp;</p>

			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>

			<p class="rtecenter">&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>

			<p class="rtecenter">&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Major Depressive Disorder</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Parkinson Disease/Cerebral Palsy/Drooling</p>
			</td>
			<td>
			<p>Confidential</p>
			</td>
			<td style="width:22px">
			<p>&nbsp;</p>
			</td>
			<td style="width:21px">
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
			<td>
			<p class="rtecenter">&nbsp;</p>
			</td>
			<td>
			<p class="rtecenter">X</p>
			</td>
		</tr>
		<tr>
			<td>Women's Health</td>
			<td>Vulvar and Vaginal Atrophy</td>
			<td>Confidential</td>
			<td style="width:22px">&nbsp;</td>
			<td style="width:21px">&nbsp;</td>
			<td>
			<p>&nbsp;X</p>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

{% endblock %}

{% block footer %}{% endblock %}

