{% extends 'includes/base.htm' %}
{% block title %}Home | Pharma Data Associates, LLC{% endblock %}
{% block content %}

<p><strong>Vision Statement</strong></p>

<p>To serve as an extension of the client's Biometrics (Statistics, Programming, and Clinical Data Management) team providing support equal to or better than what the client would have expected from their own Biometrics staff.</p>

<p>&nbsp;</p>

<p><strong>Mission Statement</strong></p>

<p>To integrate with the client's in-house staff as the supporting team members providing the best Biometrics support measured by</p>

<ul>
	<li>Quality - sustainable for the regulatory submission</li>
	<li>Speed - fitting the client’s timeline</li>
	<li>Flexibility - like the in-house staff</li>
	<li>Results - meeting the client's objective</li>
</ul>
{% endblock %}

{% block footer %}{% endblock %}
