{% extends 'base.htm' %}
{% block title %}Useful Links | Pharma Data Associates, LLC{% endblock %}
{% block content %}

<h1>Useful Links</h1>
<ul>
	<li><a href="http://www.fda.gov/downloads/Drugs/GuidanceComplianceRegulatoryInformation/Guidances/ucm073113.pdf">ICH E3 - Structure and Content of Clinical Study Report</a></li>
	<li><a href="http://www.fda.gov/downloads/Drugs/GuidanceComplianceRegulatoryInformation/Guidances/ucm073137.pdf">ICH E9 - Statistical Principles for Clinical Trials</a></li>
	<li><a href="http://www.fda.gov/downloads/Drugs/GuidanceComplianceRegulatoryInformation/Guidances/ucm079803.pdf">FDA 2008 Guidance - ISE</a></li>
	<li><a href="http://www.fda.gov/downloads/RegulatoryInformation/Guidances/UCM129865.pdf">Guidance for Industry M4E: The CTD - Efficacy</a></li>
	<li><a href="http://www.fda.gov/downloads/Drugs/GuidanceComplianceRegulatoryInformation/Guidances/UCM136174.pdf">FDA Guidance - Location of ISS/ISE within CTD</a></li>
	<li><a href="http://www.fda.gov/downloads/AboutFDA/CentersOffices/CDER/ManualofPoliciesProcedures/UCM236905.pdf">FDA Guidance - Clinical Safety Review of an NDA or BLA</a></li>
	<li><a href="http://www.fda.gov/downloads/Drugs/DevelopmentApprovalProcess/FormsSubmissionRequirements/ElectronicSubmissions/UCM163175.pdf">CTD Headings and Hierarchy</a></li>
	<li><a href="http://www.fda.gov/Drugs/DevelopmentApprovalProcess/FormsSubmissionRequirements/ElectronicSubmissions/default.htm">FDA eSubmission Website</a></li>
	<li><a href="http://www.fda.gov/forindustry/datastandards/studydatastandards/default.htm">FDA Data Standards Resources</a></li>
	<li><a href="http://www.fda.gov/Drugs/GuidanceComplianceRegulatoryInformation/Guidances/default.htm">FDA CDER (including ICH) Guidances</a></li>
	<li><a href="http://www.fda.gov/BiologicsBloodVaccines/GuidanceComplianceRegulatoryInformation/default.htm">FDA CBER Guidances</a></li>
	<li><a href="http://www.clinicaltrials.gov/ct2/search">ClinicalTrials.Gov</a></li>
	<li><a href="http://www.cdisc.org/standards">Clinical Data Interchange Standards Consortium (CDISC)</a></li>
	<li><a href="http://support.sas.com/onlinedoc/913/docMainpage.jsp">SAS v9.1.3 Online Document</a></li>
	<li><a href="http://www.fda.gov/downloads/Drugs/GuidanceComplianceRegulatoryInformation/Guidances/ucm079690.pdf">FDA EOP2A Meetings</a></li>
	<li><a href="http://www.fda.gov/downloads/Drugs/GuidanceComplianceRegulatoryInformation/Guidances/ucm072109.pdf">FDA Exposure-Response Design and Analysis</a></li>
	<li><a href="http://www.fda.gov/downloads/Drugs/GuidanceComplianceRegulatoryInformation/Guidances/UCM174090.pdf">FDA Drug-Induced Liver Injury</a></li>
	<li class="rteleft"><a href="http://www.fda.gov/AboutFDA/CentersOffices/default.htm">FDA Organizational Chart</a></li>
	<li class="rteleft"><a href="http://www.fda.gov/AboutFDA/CentersOffices/OrganizationCharts/ucm135674.htm">FDA/CDER Office of New Drugs and Office of Biostatistics Organizational Chart</a></li>
	<li class="rteleft"><a href="http://www.fda.gov/AdvisoryCommittees/Calendar/default.htm">FDA Advisory Committee Calendar</a></li>
	<li class="rteleft"><a href="http://www.fda.gov/AboutFDA/CentersOffices/CDER/ManualofPoliciesProcedures/default.htm">FDA CDER Manuals of Policies &amp; Procedures</a></li>
	<li class="rteleft"><a href="http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/CFRSearch.cfm">Code of Federal Regulations Title 21</a></li>
</ul>
{% endblock %}

{% block footer %}{% endblock %}
